// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;
$primary: #B31B1B; 
$secondary: #6b7785; 
$success: #40b15e; 
$danger: #e55353; 
$warning: #f9b115; 
$info: #3399ff; 
$light: #f8f9fa; 
$dark: #343a40; 